package-thinned-out-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="package">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="de" type="xs:string" minOccurs="0"/>
              <xs:element name="en" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="slots">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="slot" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="de" type="xs:string" minOccurs="0"/>
                          <xs:element name="en" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="pages" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="page" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="name">
                                  <xs:complexType mixed="true">
                                    <xs:sequence>
                                      <xs:element name="de" type="xs:string" minOccurs="0"/>
                                      <xs:element name="en" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="id" type="xs:string"/>
                                <xs:element name="custom">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="type" type="xs:string"/>
                                      <xs:element name="attribute" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:choice>
                                            <xs:element name="number" minOccurs="0">
                                              <xs:complexType>
                                                <xs:attribute name="value" type="xs:integer" use="required"/>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="reference" minOccurs="0">
                                              <xs:complexType>
                                                <xs:attribute name="entityType" type="xs:string" use="required"/>
                                                <xs:attribute name="id" type="xs:string" use="required"/>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="string" minOccurs="0">
                                              <xs:complexType>
                                                <xs:attribute name="value" type="xs:string" use="required"/>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="date" minOccurs="0">
                                              <xs:complexType>
                                                <xs:attribute name="value" type="xs:string" use="required"/>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="richString" minOccurs="0">
                                            </xs:element>
                                          </xs:choice>
                                          <xs:attribute name="name" type="xs:string" use="required"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="internalName" type="xs:string"/>
                    <xs:element name="workspaceName" type="xs:string"/>
                    <xs:sequence>
                      <xs:element name="type" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="name">
                              <xs:complexType mixed="true">
                                <xs:sequence>
                                  <xs:element name="de" type="xs:string" minOccurs="0"/>
                                  <xs:element name="en" type="xs:string" minOccurs="0"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="localizedNameSingular">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="en" type="xs:string" minOccurs="0"/>
                                  <xs:element name="de" type="xs:string" minOccurs="0"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="localizedNamePlural">
                              <xs:complexType mixed="true">
                                <xs:sequence>
                                  <xs:element name="en" type="xs:string" minOccurs="0"/>
                                  <xs:element name="de" type="xs:string" minOccurs="0"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="iconName" type="xs:string">
                              <xs:annotation>
                                <xs:documentation>
                                  'iconName' is the name of the icon that represents the type in the user interface. It is a Font Awesome icon name.
                                </xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="attributes" maxOccurs="unbounded" minOccurs="0">
                              <xs:complexType>
                                <xs:all>
                                  <xs:element name="name">
                                    <xs:complexType mixed="true">
                                      <xs:sequence>
                                        <xs:element name="de" type="xs:string" minOccurs="0"/>
                                        <xs:element name="en" type="xs:string" minOccurs="0"/>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="localizedName">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="en" type="xs:string" minOccurs="0"/>
                                        <xs:element name="de" type="xs:string" minOccurs="0"/>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="localizedShortName">
                                    <xs:complexType mixed="true">
                                      <xs:sequence>
                                        <xs:element name="en" type="xs:string" minOccurs="0"/>
                                        <xs:element name="de" type="xs:string" minOccurs="0"/>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="shortHelp">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="en" type="xs:string" minOccurs="0"/>
                                        <xs:element name="de" type="xs:string" minOccurs="0"/>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="stringConstraint" minOccurs="0">
                                  </xs:element>
                                  <xs:element name="longConstraint" minOccurs="0">
                                  </xs:element>
                                  <xs:element name="textEnumerationConstraint" minOccurs="0">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="defaultValues" type="xs:string" minOccurs="0"/>
                                        <xs:element ref="element" maxOccurs="unbounded" minOccurs="0"/>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="numberEnumerationConstraint" minOccurs="0">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="precision" type="xs:byte"/>
                                        <xs:element name="localizedTextAfterSupplier" type="xs:string">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="en" type="xs:string" minOccurs="0"/>
                                              <xs:element name="de" type="xs:string" minOccurs="0"/>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                        <xs:element name="defaultValues" type="xs:string" minOccurs="0"/>
                                        <xs:element ref="element" maxOccurs="unbounded" minOccurs="0"/>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="referenceConstraint" minOccurs="0">
                                    <xs:annotation>
                                      <xs:documentation>
                                        The 'referenceConstraint' element is used to define an attribute which is a reference attribute or relationship between entities in the data model.
                                      </xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:all>
                                        <xs:element name="defaultValues" type="xs:string" minOccurs="0"/>
                                        <xs:element name="typeNames" type="xs:string"/>
                                        <xs:element name="localizedInverseRoleName" type="xs:string"/>
                                        <xs:element name="sameWorkspace" type="xs:string"/>
                                        <xs:element name="isHierarchy" type="xs:string"/>
                                        <xs:element name="entityClass">
                                          <xs:annotation>
                                            <xs:documentation>
                                              The 'entityClass' element specifies the class of the entity to which the reference points. It can have the following values:
                                              - 'cf.cplace.platform.assets.group.Group' if the target is a group,
                                              - 'cf.cplace.platform.assets.group.Person' if the target is a user,
                                              - 'cf.cplace.platform.assets.file.Document' if the target is a user,
                                              - 'cf.cplace.platform.assets.file.Page' otherwise.
                                            </xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:enumeration value="cf.cplace.platform.assets.group.Group"/>
                                              <xs:enumeration value="cf.cplace.platform.assets.group.Person"/>
                                              <xs:enumeration value="cf.cplace.platform.assets.file.Page"/>
                                              <xs:enumeration value="cf.cplace.platform.assets.file.Document"/>
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:element>
                                      </xs:all>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="dateConstraint" minOccurs="0">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="specificity" type="xs:string"/>
                                        <xs:element name="dateFormat" type="xs:string"/>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="numberConstraint" minOccurs="0">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="precision" type="xs:byte"/>
                                        <xs:element name="localizedTextAfterSupplier" type="xs:string">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="en" type="xs:string" minOccurs="0"/>
                                              <xs:element name="de" type="xs:string" minOccurs="0"/>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="booleanConstraint" minOccurs="0">
                                    <xs:complexType>
                                      <xs:sequence>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="richStringConstraint" minOccurs="0">
                                  </xs:element>
                                  <xs:element name="multiplicity">
                                    <xs:annotation>
                                      <xs:documentation>
                                        The 'multiplicity' element specifies the cardinality constraints for an attribute of the data model.
                                        It can optionally define constraints on the number of occurrences via the 'key' attribute.
                                        If the 'key' attribute is not set, the cardinality of the attribute is any number of values.
                                      </xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:enumeration value="atLeastOne"/>
                                        <xs:enumeration value="maximalOne"/>
                                        <xs:enumeration value="exactlyOne"/>
                                        <xs:enumeration value="anyNumber"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                </xs:all>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="internalName" type="xs:string"/>
        <xs:element name="version" type="xs:string"/>
      </xs:sequence>
      <xs:attribute type="xs:float" name="xmlVersion"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="element">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="value"/>
        <xs:element type="xs:string" name="icon"/>
        <xs:element name="localizedName">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="de"/>
              <xs:element type="xs:string" name="en"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>